* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(240, 240, 240);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6% 5% 4%;
}

/* left part of header  */
.h1 a {
  text-decoration: none;
  color: rgb(17, 17, 61);
  font-weight: bolder;
  font-size: 1.5em;
}

/* right part of header the button like structure */
.h2 a {
  text-decoration: none;
  background-color: rgb(17, 17, 61);
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}

h1 {
  color: rgb(17, 17, 61);
  margin-top: 9%;
  /* for responsive font size 1vw= 1% of view port width */
  font-size: 10vw;
  font-weight: bolder;
}

/* defining a common class for color gradient */
.color-style {
  /* to use a gradient in background do this */
  background-image: linear-gradient(rgb(219, 134, 14), rgb(189, 54, 196));
}

/* flex containor created (1st item heading and other content and 2nd flex item is image-of- girl part   */
.box-containor {
  width: 100%;
  padding: 0% 4%;
  display: flex;
  flex-direction: column;
}

/* heading and paragraph item is there in box as 1st flex item */
/* also made this box flex to align its content */
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

p {
  color: gray;
}

/* button part of the box is designed */
.box-btn {
  border-radius: 20px;
  padding: 15px 20px;
  width: 120px;
  color: white;
  border: none;
  /* font-size: 0.8em; */
}

/* 2nd flex item as image of girl in a div containor ,, learn how you made it  */
.containor-img-girl {
  /* align self used to set this individual flex item to align center */
  align-self: center;
  width: 46vh;
  height: 46vh;
  border-radius: 50%;
  margin: 10% 2%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.girl-image {
  height: 150%;
  width: auto;
}

/* the notification like box item around girl is adjusted   */
.items-around-girl-right {
  position: absolute;
  right: 10%;
  background-color: white;
  padding: 3.5%;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items-around-girl-left {
  position: absolute;
  top: 105%;
  left: 15%;
  background-color: white;
  padding: 3.5%;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* content around girl is designed with help of span and a class for paragraph named as small */
span {
  font-size: 1.7em;
  font-weight: bold;
  color: rgb(17, 17, 61);
}
.small {
  font-size: small;
  font-weight: bold;
}

.check {
  margin: 5% 4% 1%;
  border-radius: 10px;
}
.check p {
  font-size: 1.2em;
  font-weight: bold;
  padding: 6% 7%;
  color: white;
}

/* arranging the content with the help of grid  */
.grid {
  display: grid;
  grid-template-columns: auto;
  background-color:rgb(230, 236, 246);
  row-gap: 45px;
}
.grid-item {
  background-color: white;
  border-radius: 10px;
  padding: 5%;
  padding-top: 0px;
  margin: 0px 4%;
}
.grid-item p {
  margin: 13px 0px;
  row-gap: 15px;
}

.circle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
}
.image-logo {
  width: 20px;
  height: auto;
}

h3{
  font-size: large;
  font-weight: bold;
}
.text {
  margin-top: 12px;
  color: magenta;
  /* color: linear-gradient(rgb(219, 134, 14), rgb(189, 54, 196)); not working at all  */
}

footer {
  display: flex;
  background-color: rgb(17, 17, 61);
  justify-content: space-between;
  align-items: center;
  padding: 13% 6%;
}
.footer-left a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
}

/* right part of footer the button like structure */
.footer-right a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  background-image: linear-gradient(rgb(74, 64, 215), rgb(189, 54, 196));
  padding: 10px 20px;
  border-radius: 30px;
}

/* view for tablet  */
@media screen and (min-width: 490px) {
  body {
    background-color: skyblue;
  }

  header {
    padding: 4% 5%;
  }
  /* 
  h1 {
    font-size: 2em;
  } */
}

/* view for laptops and desktops */
@media screen and (min-width: 900px) {
  body {
    background-color: thistle;
  }

  header {
    padding: 3% 10%;
  }

  /* .box-containor {
    padding: 0% 9%;
  }

  .girl-image {
    max-width: 90%;
    height: auto;
  }

  .containor-img-girl {
    height: 100%;
    width: 50%;
    border-radius: 40%;
    overflow: hidden;
  } */
}
